
 <div id="search">
     <form role="search" method="get" action="{{site.baseurl}}/search/">
         <input id="searchString" name="searchString"
            placeholder="Be a Better Developer, etc." type="text">
         <input id="searchButton" name="googleSearchName" type="submit" value="Search">
    </form>
</div>


<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include ga.html %}

</body>

</html>
